*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.to-do-container{
    margin: 30px auto 0;
    background-color: #F6F6F6;

    width: 600px;
}
.to-do-container .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}
.to-do-container .add-task input{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: #FFF;
    font-size: 20px;
}
.to-do-container .add-task input:focus{
    border: none;
    outline: none;
}
.to-do-container .add-task .plus{
    position: absolute;
    height: 43px;
    width: 43px;
    background-color: #FFF;
    right: 12px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    color: #009688;
    cursor: pointer;
    font-size: 38px;
    transition: .3s;
}
.to-do-container .add-task .plus:hover{
    transform: rotate(90deg);
}
.to-do-container .tasks-content{
    padding: 15px;
}
.to-do-container .tasks-content .no-tasks-message{
    color: #777;
    font-size: 15px;
}
.to-do-container .tasks-content > span{
    display: block;
    background-color: #FFF;
    padding: 10px;
}
.to-do-container .tasks-content > span:not(:last-child){
    margin-bottom: 10px;
}
.to-do-container .tasks-content .task-box .delete{
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

  .finished{
      text-decoration: line-through;
  }
  .task-status {
      overflow: hidden;
      margin: 10px auto;
      width: 600px;
      font-size: 12px;
  }
  .task-status .tasks-count{
    width: 50%;
    float: left;
    padding: 10px;
  }
  .task-status .tasks-completed{
      float: right;
      width: 50%;
      padding: 10px;
      text-align: right;
  }
  .task-status .tasks-count span,
  .task-status .tasks-completed span{
      color: #FFF;
      padding: 1px 5px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
  }
  .task-status .tasks-count span{
      background-color: #E91E63;
  }
  .task-status .tasks-completed span{
      background: #03A9F4;
  }

